<nav class="navbar navbar-expand-lg bg-dark bg-opacity-90 fixed-top shadow-lg">
    <div class="container">
        <a id="navbar-brand" class="navbar-brand fw-bold text-warning fs-5" href="index.html">非遗·八极拳</a>
        <button class="navbar-toggler border-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
            <span class="navbar-toggler-icon text-warning"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ms-auto gap-3">
                <li class="nav-item"><a class="nav-link text-light hover:text-warning transition-all" href="../index.html">首页</a></li>
                <li class="nav-item"><a class="nav-link text-light hover:text-warning transition-all" href="../pages/about.html">关于我们</a></li>
                <li class="nav-item"><a class="nav-link text-light hover:text-warning transition-all" href="../pages/works.html">非遗作品</a></li>
                <li class="nav-item"><a class="nav-link text-light hover:text-warning transition-all" href="../pages/inheritor.html">传承人</a></li>
            </ul>
        </div>
    </div>
</nav>